* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #333;
  color: #fff;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 20px;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

header {
  background-image: url('assets/img/Background_image.jpg');
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: #e31c51;
}

main {
  padding: 50px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

